@keyframes ticker {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .animate-ticker {
    display: inline-block;
    animation: ticker 9s linear infinite; 
  }
  body{
    background-color: hsl(0, 0%, 94%);
  }